body {
  margin: 0;
  background-color: #1c1e22;
<<<<<<< HEAD
  color: #e6f1ff;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
=======
  color: #62c9ff;
  font-family: sans-serif;
  overflow-y: hidden;
>>>>>>> d3299999274bb645f9f4aa428114c301e17bcb7e
}

.hero {
  padding: 80px 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.title h1 {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #62c9ff;
  animation: fadeUp 1s ease-out;
  text-align: center;
}

.title h2 {
  font-size: 28px;
  font-weight: 300;
  color: #ccc;
  max-width: 600px;
  margin: 0 auto;
  animation: fadeUp 1.5s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 56px;
  }

  .title h2 {
    font-size: 20px;
    padding: 0 15px;
  }
}
