body {
  margin: 0;
  background-color: #1c1e22;
  color: #62c9ff;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
    font-size: 128px;
    line-height: 0px;
}

.hero h2 {
    font-size: 48px;
}