.button {
    display: inline-block;
    background-color: #62c9ff;
    color: white;
    padding: 12px 24px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    width: 550px;
}

.button:hover {
    background-color: #62c9ff;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 72px;
}

.document {
    background-color: #005fa3;
    width: 650px;
    text-align: center;
    height: 625px;
    border-radius: 20px;
}

.document h2 {
    font-size: 46px;

}

iframe {
    padding-bottom: 15px;
}

.documents {
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
}